.article-item .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.article-item h3{
    text-align: center;
}
.desc .circle{
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 50%;
}
.desc .tag,.date,.click-times{
    color: gray;
    font-size: 13px;
    margin: 5px;
}
.article-item .content{
    margin-top: 20px;
    line-height: 1.5;
}

.view-article{
    text-align: center;
    margin: 20px;
}
.view-article a{
    color: #000;
    text-decoration: none;
}

.view-article a:after{
    content: "|";
    font-weight: 700;
    display: inline-block;
    margin: 0 10px;
  }
.view-article a:before{
    content: "|";
    font-weight: 700;
    display: inline-block;
    margin: 0 10px;
  }